body {
  font-family: Arial; 
  background-color: lightblue;   
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav li {
  display:inline;
  margin-left:10px;
}

.container {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:30px;
  margin-right:30px;
  padding: 20px;
}

.kitten {
  margin: 0 0;  
}